.SubmitButton{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #FA5B35;
    font-size: 20px;
    transition-duration: 0.5s;
    font-weight: 600;
}
.SubmitButton:hover{
    cursor:pointer;
    background-color: #fa5c35e2;
}
@media screen and (max-width: 700px) {
    .SubmitButton{
        width: 130px;
    }
  }
